.segment {
    overflow: hidden;
    margin-bottom: 1.5rem;
    position: relative;
}

.title {
    color: #e5e5e5;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.row {
    display: flex;
}

.row:hover .button{
    display: block;
}

.row img {
    margin-right: 0.5rem;
    border-radius: 4px;
    width: 15%;
}

.row .button img {
    width: 50%;
}

.button {
    display: none;
    height: 156px;
    position: absolute;
    bottom: 0;
    right: 0; 
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    cursor: pointer;
}

.titleicontext {
    width: 20px;
    height: 12px;
}

.icon {
    margin-left: 0.3rem;
}